<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LabReview02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>nguyenductung.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCreateServlet</display-name>
    <servlet-name>BookCreateServlet</servlet-name>
    <servlet-class>nguyenductung.servlet.BookCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCreateServlet</servlet-name>
    <url-pattern>/BookCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateServlet</display-name>
    <servlet-name>BookUpdateServlet</servlet-name>
    <servlet-class>nguyenductung.servlet.BookUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateServlet</servlet-name>
    <url-pattern>/BookUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteServlet</display-name>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>nguyenductung.servlet.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/BookDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>